[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
